<div class="container">
  <h1 id="title-2">10 Reasons Why I Love You</h1>
  <ul>
    <li><a href="<%= reason_one_path %>">1. You Make Me Laugh</a></li>
    <li><a href="<%= reason_two_path %>">2. You Believe in Me</a></li>
    <li><a href="<%= reason_three_path %>">3. You’re Kind and Sweet</a></li>
    <li><a href="<%= reason_four_path %>">4. You See Beauty in Everything</a></li>
    <li><a href="<%= reason_five_path %>">5. You Inspire Me</a></li>
    <li><a href="<%= reason_six_path %>">6. You Make Me Feel Loved</a></li>
    <li><a href="<%= reason_seven_path %>">7. I Love Your Warmth</a></li>
    <li><a href="<%= reason_eight_path %>">8. You Make Little Things Magical</a></li>
    <li><a href="<%= reason_nine_path %>">9. You Make Me Grow</a></li>
    <li><a href="<%= reason_ten_path %>">10. You’re My Soulmate and Best Friend</a></li>
  </ul>

  <div class="image-container">
    <%= image_tag "my_love.gif", alt: "A meaningful GIF", class: "love-gif" %>
  </div>
</div>

<button onclick="window.location.href='/'" class="main-button">Return to Main Page</button>